

      <!-- Optional Selection -->
<section id="feature-search">
      <div class='row seletion-menu'>
        <div class='col-sm-3'>    
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Min Price</option>
              <option value="50000">$50,000</option>
              <option value="60000">$60,000</option>
              <option value="70000">$70,000</option>
              <option value="80000">$80,000</option>
            </select>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Max Price</option>
              <option value="100000">$100,000</option>
              <option value="200000">$200,000</option>
              <option value="300000">$300,000</option>
              <option value="400000">$400,000</option>
            </select>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Any Bed</option>
              <option value="2">2+ Bedrooms</option>
              <option value="3">3+ Bedrooms</option>
              <option value="4">4+ Bedrooms</option>
              <option value="5">5+ Bedrooms</option>
            </select>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Any Bath</option>
              <option value="2">2+ Bathrooms</option>
              <option value="3">3+ Bathrooms</option>
              <option value="4">4+ Bathrooms</option>
              <option value="5">5+ Bathrooms</option>
            </select>
          </div>
        </div>
        <div class='row sort-menu'>
        <p>Sort by:</p>
        <div class='col-sm-3'>    
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Min Price</option>
              <option value="50000">$50,000</option>
              <option value="60000">$60,000</option>
              <option value="70000">$70,000</option>
              <option value="80000">$80,000</option>
            </select>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Max Price</option>
              <option value="100000">$100,000</option>
              <option value="200000">$200,000</option>
              <option value="300000">$300,000</option>
              <option value="400000">$400,000</option>
            </select>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Any Bed</option>
              <option value="2">2+ Bedrooms</option>
              <option value="3">3+ Bedrooms</option>
              <option value="4">4+ Bedrooms</option>
              <option value="5">5+ Bedrooms</option>
            </select>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='form-group'>
            <select class="form-control">
              <option value="null">Any Bath</option>
              <option value="2">2+ Bathrooms</option>
              <option value="3">3+ Bathrooms</option>
              <option value="4">4+ Bathrooms</option>
              <option value="5">5+ Bathrooms</option>
            </select>
          </div>
        </div>
      </div> 



</section>
<!-- Optional Selection Ends--> 




<!-- Listings -->
<section id="feature-listing"> 

<div class="container feature-listing">

      <!-- Three columns of text below the carousel -->
      <div class="row">


      <div class="col-md-4 col-sm-6 cols-xs-12">
        <div class="featureList text-center">
          
            <div id="carousel-listing-1" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/listing_images/property1_1.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_2.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_3.jpg" alt="...">
              </div>
            </div>

            <a class="left carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control c-control" href="#carousel-listing-1" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="title">
            <h4></h4>
            <h5 class="muted regular"></h5>
            <h4 class="regular property-price">$1,400,000</h4><br>
            <p class="muted regular"><em>1234 Cambie St. Vancouver</em></p><br>
            <p class="muted regular"><em>Blah Blah Blah this property is fantastic.</em></p>
            <p><a class="btn btn-default listing-property-button" href="#" role="button">Property details &raquo;</a></p>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 cols-xs-12">
        <div class="featureList text-center">
          
            <div id="carousel-listing-2" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/listing_images/property1_1.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_2.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_3.jpg" alt="...">
              </div>
            </div>

            <a class="left carousel-control c-control" href="#carousel-listing-2" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control c-control" href="#carousel-listing-2" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="title">
            <h4></h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular property-price">$1,400,000</p><br>
            <p class="muted regular"><em>Blah Blah Blah this property is fantastic.</em></p>
            <p><a class="btn btn-default listing-property-button" href="#" role="button">Property details &raquo;</a></p>
          </div>
        </div>
      </div>

            <div class="col-md-4 col-sm-6 cols-xs-12">
        <div class="featureList text-center">
          
            <div id="carousel-listing-3" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/listing_images/property1_1.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_2.jpg" alt="...">
              </div>
              <div class="item">
                <img src="/assets/listing_images/property1_3.jpg" alt="...">
              </div>
            </div>

            <a class="left carousel-control c-control" href="#carousel-listing-3" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control c-control" href="#carousel-listing-3" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="title">
            <h4></h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular property-price">$1,400,000</p><br>
            <p class="muted regular"><em>Blah Blah Blah this property is fantastic.</em></p>
            <p><a class="btn btn-default listing-property-button" href="#" role="button">Property details &raquo;</a></p>
          </div>
        </div>
      </div>


  
</section>
<!-- Listings Ends -->

<style>

