<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12" id="head-top"> <!-- form-head grid -->
  <div class="form-head-left">
  <br>
  <br>
  <p><span id="address-title"></span></p>
  </div>
  <div class="form-head">
    <h4 class="form-header">Listing Details</h4>
  </div>
</div> <!-- end form-head grid -->

<div class="col-md-3 col-sm-3 col-xs-12"> <!-- sidebar grid -->
  <div class="side-bar">
   <div id="basicdiv"><a  class="side-nav-a" href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i><br> Basic </a></div>
   <div id="detaildiv"><a class="side-nav-a"  href="#"><i class="fa fa-wpforms fa-2x" aria-hidden="true"></i><br> Details </a></div>
   <div id="amenitydiv"><a class="side-nav-a"  href="#"><i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i><br> Amenities </a></div>
   <div id="photodiv"><a class="side-nav-a"  href="#"><i class="fa fa-camera fa-2x" aria-hidden="true"></i><br> Photos </a></div>
  </div>
</div> <!-- end sidebar grid -->
<div class="col-md-8 col-sm-8 col-xs-12"> <!-- form content grid -->
 
    <%= render 'form' %>
</div> <!-- end form content grid -->


</div> <!-- row -->

