
<div class="main-content">

  <form class="form-basic" method="post" action="#">

    <div class="form-title-row">
        <h1>Full Address</h1>


    </div>

    <div class="form-row">
        <label>
            <span class="form-span">Unit Number</span><br>
            <input type="email" name="email" placeholder="Unit Number">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span class="form-span">Address</span><br>
            <input type="text" name="name"placeholder="Street Name">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span class="form-span">Postal Code</span><br>
            <input type="text" name="name" placeholder="Postal Code">
        </label>
    </div><br>
    <div class="form-row">
         <label>
            <span class="form-span">City</span><br>
            <input type="text" name="name"placeholder="City Name">
        </label>
    </div>
   <div class="form-row">
        <label>
            <span class="form-span">Province</span><br>
            <select name="dropdown">
                <option>BC</option>
                <option>AB</option>
                <option>MB</option>
                <option>NB</option>
                <option>NL</option>
                <option>NS</option>
                <option>NU</option>
                <option>ON</option>
                <option>PE</option>
                <option>QC</option>
                <option>SK</option>
                <option>YT</option>
            </select>
        </label>
    </div>
    <br>
 <button id="next" class="btn btn-default listing-property-button">Next &raquo;</button>
 
  </form>
</div>


