<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
        <ul id="side-ul">
          <li class="subdrop" >
            <a href=
            "#"><i class="md md-dashboard"></i>
            <span><i class="fa fa-home" aria-hidden="true"></i> Basic</span></a>
          </li>
          <br>

          <li>
            <a href="#"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Details</span></a>
          </li>
          <br>


          <li>
            <a href="#"><span><i class="fa fa-life-ring" aria-hidden="true"></i> Amenities</span></a>
          </li>
          <br>


          <li>
            <a href="#"><span><i class="fa fa-camera-retro" aria-hidden="true"></i> Photos</span></a>
          </li>
          <br>


          <li>
            <a href="#"><span><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Extra</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">

  <form class="form-basic" method="post" action="#">

    <div class="form-title-row">
        <h1>Full Address</h1>


    </div>

    <div class="form-row">
        <label>
            <span class="form-span">Unit Number</span><br>
            <input type="email" name="email" placeholder="Unit Number">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span class="form-span">Address</span><br>
            <input type="text" name="name"placeholder="Street Name">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span class="form-span">Postal Code</span><br>
            <input type="text" name="name" placeholder="Postal Code">
        </label>
    </div><br>
    <div class="form-row">
         <label>
            <span class="form-span">City</span><br>
            <input type="text" name="name"placeholder="City Name">
        </label>
    </div>
   <div class="form-row">
        <label>
            <span class="form-span">Province</span><br>
            <select name="dropdown">
                <option>BC</option>
                <option>AB</option>
                <option>MB</option>
                <option>NB</option>
                <option>NL</option>
                <option>NS</option>
                <option>NU</option>
                <option>ON</option>
                <option>PE</option>
                <option>QC</option>
                <option>SK</option>
                <option>YT</option>
            </select>
        </label>
    </div>
    <br>
 <button id="next" class="btn btn-default listing-property-button">Next &raquo;</button>
 
  </form>
<div id="map"></div>
   
</div>
