<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
        <ul id="side-ul">
          <li class="text-muted menu-title">Main</li>


          <li>
            <a class="subdrop" href=
            "#"><i class="md md-dashboard"></i>
            <span>Basic</span></a>
          </li>


          <li>
            <a href="#"><span>Details</span></a>
          </li>


          <li>
            <a href="#"><span>Amenities</span></a>
          </li>


          <li>
            <a href="#"><span>Photos</span></a>
          </li>


          <li>
            <a href="#"><span>Extra</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">

  <form class="form-basic" method="post" action="#">

    <div class="form-title-row">
        <h1>Full Address</h1>
    </div>

    <div class="form-row">
        <label>
            <span>Unit Number</span>
            <input type="email" name="email" placeholder="Unit Number">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>Address</span>
            <input type="text" name="name"placeholder="Street Name">
        </label>
    </div>
    <div class="form-row">
         <label>
            <span>City</span>
            <input type="text" name="name"placeholder="City Name">
        </label>
    </div>
   <div class="form-row">
        <label>
            <span>Province</span>
            <select name="dropdown">
                <option>BC</option>
                <option>AB</option>
                <option>MB</option>
                <option>NB</option>
                <option>NL</option>
                <option>NS</option>
                <option>NU</option>
                <option>ON</option>
                <option>PE</option>
                <option>QC</option>
                <option>SK</option>
                <option>YT</option>
            </select>
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>Postal Code</span>
            <input type="text" name="name" placeholder="Postal Code">
        </label>
    </div>
    

   

  </form>

</div>