<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
        <ul id="side-ul">
          <li class="text-muted menu-title">Main</li>


          <li>
            <a class="subdrop" href=
            "#"><i class="md md-dashboard"></i>
            <span>Basic</span></a>
          </li>


          <li>
            <a href="#"><span>Details</span></a>
          </li>


          <li>
            <a href="#"><span>Amenities</span></a>
          </li>


          <li>
            <a href="#"><span>Photos</span></a>
          </li>


          <li>
            <a href="#"><span>Extra</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">

  <form class="form-basic" method="post" action="#">

    <div class="form-title-row">
        <h1>Basic</h1>
    </div>

    <div class="form-row">
        <label>
            <span>Unit Number</span>
            <input type="email" name="email" placeholder="Unit Number">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>Street name</span>
            <input type="text" name="name"placeholder="Street Name">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>Size</span>
            <input type="text" name="name" placeholder="sq ft">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>Year Built</span>
            <input type="text" name="name" placeholder="year">
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>Neighbourhood</span>
            <select name="dropdown">
                <option>Gastown</option>
                <option>Yaletown</option>
                <option>Kitsilano</option>
                <option>Granville Entertainment</option>
                <option>West End</option>
                <option>The Drive</option>
                <option>Mount Pleasant</option>
                <option>Downtown</option>
                <option>South Granville</option>
                <option>Point Grey</option>
                <option>The Drive</option>
                <option>Strathcona</option>
                <option>Coal Harbour</option>
                <option>Chinatown</option>
                <option>Killarney</option>
                <option>Marpole</option>
                <option>Shaunghnessy</option>
                <option>Oakridge</option>
                <option>Kerrisdale</option>
                <option>Fairview</option>
                <option>Central Lonsdale</option>
            </select>
        </label>
    </div>

   

  </form>

</div>