




<div class="carousel slide" data-ride="carousel" id="welcome-carousel">
<div class="shadow-layer"></div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/welcome_bg1_1900_700.png" alt="...">
 <!--      <div class="carousel-caption">
        <h3>Caption Text</h3>
      </div> -->
    </div>
    <div class="item">
      <img src="/assets/welcome_bg2_1900_700.png" alt="...">
    </div>
    <div class="item">
      <img src="/assets/welcome_bg3_1900_700.png" alt="...">
    </div>
  </div>
</div>

<!-- Nav bar -->
<div class="overlay nav">

  <div class="navbar-collapse collapse navbar-right">
    <ul class="nav navbar-nav">
      <li class="hvr-underline-reveal"><a href="#">Home</a></li>
      <li class="hvr-underline-reveal"><a href="#">Why us?</a></li>
      <li class="hvr-underline-reveal"><a href="#">Terms & Policies</a></li>
      <li class="hvr-underline-reveal"><a href="#">Log in</a></li>
      <li class="hvr-underline-reveal"><a href="#">Sign up</a></li>
      <!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
      </li> -->
      <li class="hvr-underline-reveal"><a href="#">FAQ</a></li>
    </ul>
  </div>



</div>

<!--Nav Bar Ends -->

<div class="overlay search">

<div class="vertical-center">
  
  <div class="container text-center" id="tagline">
    <h1>The easiest way to list and buy a home.</h1>

      <!-- Search Box -->

      
       <!-- <div class="col-lg-12 text-center" id="search-box"> -->
       <div class="col-lg-6 col-md-6 col-xs-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
         </div>
        <!-- </div> -->

      <!-- Search Box Ends -->

    </div>

  </div>


  

</div>




  <select class="form-control" placeholder="name">
    <option value="one">One</option>
    <option value="two">Two</option>
    <option value="three">Three</option>
    <option value="four">Four</option>
    <option value="five">Five</option>
</select>

<body>

<div class="row">
  <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis animi, voluptas assumenda?</div>
  <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, perferendis asperiores! Magni incidunt est quidem voluptates, nobis minima sed perspiciatis?</div>
  <div class="col-mid-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus officiis, aspernatur.</div>
</div>
</body>