<%= render 'layouts/header' %>
<br>
<br>
<br>
<br>
<br>
<section id="team" class="section gray-bg">
  
  <div id="chart_units_sold">
    <br>
    <br>
    <br>
    <br>
    <h4>Housing Units Sold in Vancouver West and East</h4>  
    <h4>March 2015 - March 2016</h4>
    <canvas id="myChart"></canvas>
  </div>
  <div id="chart_price_sold">
    <br>
    
    <br>
    <br>
    <br>
    <h4>Average Price of Homes Sold in Vancouver West and East</h4>
    <h4>March 2015 - March 2016</h4>
    <h4>$ CAD</h4>
    <canvas id="myChart2"></canvas>
  </div> 
  <br>
  <br>
  <br>
  <br>
  <br>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js"></script>
  <script>

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ["March", "April", "May", "June", "July", "August", "September", "October", "November", "December", "January", "February", "March"],
          datasets: [{
              label: 'Houses - Van West',
              fill: false,
              data: [210, 235, 215, 240, 150, 160, 120, 170, 180, 129, 120, 210, 210], 
              backgroundColor: "rgba(22, 160, 133, 1)", 
              pointBorderColor: "rgba(22, 160, 133, 1)", 
              borderColor: "rgba(22, 160, 133, 1)",
          },
          {
              label: 'Townhouses - Van West',
              fill: false,
              data: [110, 105, 85, 90, 55, 60, 55, 70, 65, 50, 40, 70, 100], 
              backgroundColor: "rgba(241, 196, 15, 1)",
              pointBorderColor: "rgba(241, 196, 15, 1)", 
              borderColor: "rgba(241, 196, 15, 1)",
          },
          {
              label: 'Condos - Van West',
              fill: false,
              data: [500, 475, 510, 580, 590, 570, 410, 430, 430, 350, 300, 580, 650], 
              backgroundColor: "rgba(41, 128, 185, 1)",
              pointBorderColor: "rgba(41, 128, 185, 1)", 
              borderColor: "rgba(41, 128, 185, 1)",
          },
          {
              label: 'Houses - Van East',
              fill: false,
              data: [210, 220, 210, 235, 145, 140, 145, 150, 140, 130, 95, 160, 205], 
              backgroundColor: "rgba(243, 156, 18, 1)", 
              pointBorderColor: "rgba(243, 156, 18, 1)", 
              borderColor: "rgba(243, 156, 18, 1)",
          },
          {
              label: 'Townhouses - Van East',
              fill: false,
              data: [65, 75, 45, 45, 65, 45, 50, 55, 45, 30, 20, 35, 55], 
              backgroundColor: "rgba(142, 68, 173, 1)",
              pointBorderColor: "rgba(142, 68, 173, 1)", 
              borderColor: "rgba(142, 68, 173, 1)",
          },
          {
              label: 'Condos - Van East',
              fill: false,
              data: [185, 170, 190, 200, 180, 130, 155, 155, 145, 105, 85, 140, 205], 
              backgroundColor: "rgba(211, 84, 0, 1)",
              pointBorderColor: "rgba(211, 84, 0, 1)", 
              borderColor: "rgba(211, 84, 0, 1)",
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

  var ctx = document.getElementById("myChart2");
  var myChart2 = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ["March", "April", "May", "June", "July", "August", "September", "October", "November", "December", "January", "February", "March"],
          datasets: [{
              label: 'Houses - Van West',
              fill: false,
              data: [2447700, 2490600, 2554900, 2599700, 2653200, 2695100, 2743800, 2773000, 2864600, 2885000, 2928800, 3003800, 3072000], 
              backgroundColor: "rgba(22, 160, 133, 1)", 
              pointBorderColor: "rgba(22, 160, 133, 1)", 
              borderColor: "rgba(22, 160, 133, 1)",
          },
          {
              label: 'Townhouses - Van West',
              fill: false,
              data: [771400, 783400, 792700, 805500, 809000, 811200, 813900, 830700, 866500, 897400, 892600, 907200, 939000], 
              backgroundColor: "rgba(241, 196, 15, 1)",
              pointBorderColor: "rgba(241, 196, 15, 1)", 
              borderColor: "rgba(241, 196, 15, 1)",
          },
          {
              label: 'Condos - Van West',
              fill: false,
              data: [514400, 524000, 525800, 528000, 529900, 542200, 555500, 570600, 586100, 590400, 599200, 624600, 635300], 
              backgroundColor: "rgba(41, 128, 185, 1)",
              pointBorderColor: "rgba(41, 128, 185, 1)", 
              borderColor: "rgba(41, 128, 185, 1)",
          },
          {
              label: 'Houses - Van East',
              fill: false,
              data: [1015200, 1046000, 1070400, 1093900, 1116100, 1136000, 1160900, 1175400, 1208800, 1222900, 1234100, 1265800, 1288400], 
              backgroundColor: "rgba(243, 156, 18, 1)", 
              pointBorderColor: "rgba(243, 156, 18, 1)", 
              borderColor: "rgba(243, 156, 18, 1)",
          },
          {
              label: 'Townhouses - Van East',
              fill: false,
              data: [532600, 552700, 560900, 562100, 570900, 566300, 579100, 602700, 626400, 651200, 661200, 683600, 714000], 
              backgroundColor: "rgba(142, 68, 173, 1)",
              pointBorderColor: "rgba(142, 68, 173, 1)", 
              borderColor: "rgba(142, 68, 173, 1)",
          },
          {
              label: 'Condos - Van East',
              fill: false,
              data: [316300, 318700, 322300, 330300, 330300, 331400, 338400, 350400, 360900, 364500, 373800, 385300, 390200], 
              backgroundColor: "rgba(211, 84, 0, 1)",
              pointBorderColor: "rgba(211, 84, 0, 1)", 
              borderColor: "rgba(211, 84, 0, 1)",
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

  </script>

</section>