<section id="team" class="section gray-bg">
  <div class="container">
    
    <div class="row title text-center">
      <h2 class="margin-top">Vendors</h2>
      <h4 class="light muted">Connect with home inspectors, lawyers and notaries to help complete your sale!</h4>
    </div>

    <div class="row">
      <div class="row title text-center">
        <h3 class="margin-top">Home Inspectors</h3>
      </div>
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/tedgilmour.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://tedgilmour.ca/"><h4>Ted Gilmour, C.P.I. <br/> Independent Home Inspections</h4></a><br>
              <p class="muted regular"><em>Proudly Serving Vancouver and the Lower Mainland since 1996.</em></p>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/arbutushomeinspections_owner.jpg" alt="..."  class="avatar">
            <div class="title">
              <a href="http://arbutushomeinspections.com"><h4>Arbutus Home Inspections</h4></a><br>
              <p class="muted regular"><em>Protecting the character of your home for over 20 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/aarondufall.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://aarondufall.com"><h4>Aaron's Home Inspections</h4></a><br>
              <p class="muted regular"><em>Also provides software development services.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/qualityhomeinspections_owner.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://www.qualityhomeinspections.ca"><h4>Quality Home Inspections Ltd.</h4></a><br>
              <p class="muted regular"><em>Residential and Commercial building inspection services in the Greater Vancouver region since 1995.</em></p>
            </div>
          </div>
        </div>
      
      <div class="row title text-center">
        <h3 class="margin-top">Lawyers</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/justine.jpg" alt="..."  class="avatar">
            <div class="title">
              <h4>Justine</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/chris.jpg" alt="..."  class="avatar">
            <div class="title">
              <h4>Chris</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/julia.jpg" alt="..." class="avatar">
            <div class="title">
              <h4>Julia</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/kevin.jpg" alt="..." class="avatar">
            <div class="title">
              <h4>Kevin</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>

      <div class="row title text-center">
        <h3 class="margin-top">Notaries</h3>
      </div>
        <div class="row">
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/justine.jpg" alt="..."  class="avatar">
            <div class="title">
              <h4>Justine</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/chris.jpg" alt="..."  class="avatar">
            <div class="title">
              <h4>Chris</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/julia.jpg" alt="..." class="avatar">
            <div class="title">
              <h4>Julia</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/kevin.jpg" alt="..." class="avatar">
            <div class="title">
              <h4>Kevin</h4>
              <p class="muted regular"><em>In the buiness for 10 years.</em></p>
            </div>
          </div>
        </div>
    

    </div>
  </div> <!-- container close -->
</section>