<h1 align="center">Vendors</h1>


<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, dignissimos.
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Reprehenderit cupiditate modi dignissimos laboriosam minima corrupti unde consectetur dolor!
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">In recusandae tempore odio, iusto eveniet omnis nihil vero fugiat?
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Enim minus esse soluta, aspernatur consequuntur id facere dicta eveniet.
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Quod ducimus vitae, iusto repudiandae eum pariatur reprehenderit ut necessitatibus.
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Incidunt repudiandae perferendis animi libero aliquam, voluptate praesentium magni ut.
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Non suscipit blanditiis commodi voluptatibus magnam, cumque sapiente sequi cum.
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Similique vitae fugiat veniam autem, sit dicta debitis aspernatur incidunt.
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Neque unde dolorem doloremque, eligendi debitis quisquam necessitatibus at ipsam?
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>
<section id="vender">
  <div class="well well-lg">
    <h3 class="text-center">Title</h3>
    <p class="text-center">Fugit sunt similique explicabo id animi voluptas libero, soluta officia.
      <p class="text-center"><a href="#" class="btn btn-primary">Contact &rarr;</a></p>
    </p>
  </div>
</section>






section#vender*10>.well.well-lg>h3.text-center{Title}+p.text-center>lorem10+p.text-center>a[href=#].btn.btn-primary{Contact &rarr;}

