<section id="team" class="section gray-bg">
  <div class="container">
    
    <div class="row title text-center">
      <h2 class="margin-top">Vendors</h2>
      <h4 class="light muted">Connect with home inspectors, lawyers and notaries to help complete your sale!</h4>
    </div>

    <div class="row">
      <div class="row title text-center">
        <h3 class="margin-top">Home Inspectors</h3>
      </div>
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/tedgilmour.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://tedgilmour.ca/"><h4>Ted Gilmour, C.P.I.</h4></a><br>
              <p>Tel: (604) 618-0499</p>
              <p class="muted regular"><em>Proudly Serving Vancouver and the Lower Mainland since 1996.</em></p>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/arbutushomeinspections_owner.jpg" alt="..."  class="avatar">
            <div class="title">
              <a href="http://arbutushomeinspections.com"><h4>Arbutus Home Inspections</h4></a><br>
              <p>Tel: (604) 220-0222</p>
              <p class="muted regular"><em>Protecting the character of your home for over 20 years.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/aarondufall.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://aarondufall.com"><h4>Aaron's Home Inspections</h4></a><br>
              <p>Tel: (604) 306-1234</p>
              <p class="muted regular"><em>Inspecting homes and code since 2005.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/qualityhomeinspections_owner.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://www.qualityhomeinspections.ca"><h4>Quality Home Inspections Ltd.</h4></a><br>
              <p>Tel: (604) 271-7177</p>
              <p class="muted regular"><em>Residential and Commercial building inspection services in the Greater Vancouver region since 1995.</em></p>
            </div>
          </div>
        </div>
      
      <div class="row title text-center">
        <h3 class="margin-top">Lawyers</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/bellalliance.jpg" alt="..."  class="avatar">
            <div class="title">
              <a href="http://www.bellalliance.ca/practice-areas/residential-purchases"><h4>Bell Alliance</h4></a><br>
              <p>Tel: (604) 873-8723</p>
              <p class="muted regular"><em>Making the process of buying and selling a home as stress-free as possible.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/lawandassociates_lawyer.jpg" alt="..."  class="avatar">
            <div class="title">
              <a href="http://www.lawandassociates.ca/real-estate-lawyer-vancouver"><h4>Law and Associates</h4></a><br>
              <p>Tel: (604) 682-6868</p>
              <p class="muted regular"><em>Providing legal services to buyers and sellers of residential homes and commercial real estate.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/spagnuologroup.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://www.bcrealestatelawyers.com/"><h4>Spagnuolo & Company</h4></a><br>
              <p>Tel: (604) 527-4242</p>
              <p class="muted regular"><em>Focussing on residential real estate law.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/farris_lawyer.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://www.farris.com"><h4>Farris Law</h4></a><br>
              <p>Tel: (604) 684-9151</p>
              <p class="muted regular"><em>A leading Canadian law firm, with a diverse client base ranging from individuals to large public and private corporations.</em></p>
            </div>
          </div>
        </div>

      <div class="row title text-center">
        <h3 class="margin-top">Notaries</h3>
      </div>
        <div class="row">
        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/david_notary.jpg" alt="..."  class="avatar">
            <div class="title">
              <a href="http://www.davidnotary.com/"><h4>David Watts<br/>Notary Public</h4></a><br>
              <p>Tel: (604) 685-7786</p>
              <p class="muted regular"><em>Acting on your behalf to ensure that you receive the appropriate sale proceeds.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/patricia_notary.jpg" alt="..."  class="avatar">
            <div class="title">
              <a href="http://vancouvernotary.com/index.html"><h4>Patricia Wright & Associates<br/>Notary Public</h4></a><br>
              <p>Tel: (604) 682-8988</p>
              <p class="muted regular"><em>Since 1982, Patricia Wright and her team have been providing Notarial services to their valued clients.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg1.jpg" class="bg_image">
            <img src="/assets/yoshida_notary.png" alt="..." class="avatar">
            <div class="title">
              <a href="http://www.notarydowntown.ca/"><h4>Yoshida Notary Public, Inc.</h4></a><br>
              <p>Tel: (604) 569-0512</p>
              <p class="muted regular"><em>Providing a range of Notarial services including Real Estate Purchases and Sales, and Mortgage documentations.</em></p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 cols-xs-12">
          <div class="team text-center">
            <img src="/assets/profile_bg2.jpg" class="bg_image">
            <img src="/assets/katy_notary.jpg" alt="..." class="avatar">
            <div class="title">
              <a href="http://www.katyroohani.com/"><h4>Katayoon Roohani<br/>Notary Public</h4></a><br>
              <p>Tel: (604) 988-5556</p>
              <p class="muted regular"><em>Serving the Lower Mainland for over 20 years.</em></p>
            </div>
          </div>
        </div>
    

    </div>
  </div> <!-- container close -->
</section>