<%= render 'layouts/header' %>

<section id="team" class="section gray-bg">
  <div class="container">
    
    <div class="row title text-center">
      <h2 class="margin-top">Team</h2>
      <h4 class="light muted">We're a dream team!</h4>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg1.jpg" class="bg_image">
          <img src="/assets/justine.jpg" alt="..."  class="avatar">
          <div class="title">
            <h4>Justine</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Home Inspectors</p><br>
            <p class="muted regular"><em>In business since 2010.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg2.jpg" class="bg_image">
          <img src="/assets/chris.jpg" alt="..."  class="avatar">
          <div class="title">
            <h4>Chris</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Home Inspectors</p><br>
            <p class="muted regular"><em>In business since 2000.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg1.jpg" class="bg_image">
          <img src="/assets/julia.jpg" alt="..." class="avatar">
          <div class="title">
            <h4>Julia</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Home Inspectors</p><br>
            <p class="muted regular"><em>In business since 2011.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg2.jpg" class="bg_image">
          <img src="/assets/kevin.jpg" alt="..." class="avatar">
          <div class="title">
            <h4>Kevin</h4>
            <p class="muted regular">Home Inspectors</p><br>
            <p class="muted regular"><em>In business since 2005.</em></p>
          </div>
        </div>
      </div>
    
    <div class="row">
      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg1.jpg" class="bg_image">
          <img src="/assets/justine.jpg" alt="..."  class="avatar">
          <div class="title">
            <h4>Justine</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Lawyers</p><br>
            <p class="muted regular"><em>In business since 2003.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg2.jpg" class="bg_image">
          <img src="/assets/chris.jpg" alt="..."  class="avatar">
          <div class="title">
            <h4>Chris</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Lawyers</p><br>
            <p class="muted regular"><em>In business since 2004.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg1.jpg" class="bg_image">
          <img src="/assets/julia.jpg" alt="..." class="avatar">
          <div class="title">
            <h4>Julia</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Lawyers</p><br>
            <p class="muted regular"><em>In business since 1997.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg2.jpg" class="bg_image">
          <img src="/assets/kevin.jpg" alt="..." class="avatar">
          <div class="title">
            <h4>Kevin</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Lawyers</p><br>
            <p class="muted regular"><em>In business since 1999.</em></p>
          </div>
        </div>
      </div>

      <div class="row">
      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg1.jpg" class="bg_image">
          <img src="/assets/justine.jpg" alt="..."  class="avatar">
          <div class="title">
            <h4>Justine</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Notary</p><br>
            <p class="muted regular"><em>In business since 2003.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg2.jpg" class="bg_image">
          <img src="/assets/chris.jpg" alt="..."  class="avatar">
          <div class="title">
            <h4>Chris</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Notary</p><br>
            <p class="muted regular"><em>In business since 2001.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg1.jpg" class="bg_image">
          <img src="/assets/julia.jpg" alt="..." class="avatar">
          <div class="title">
            <h4>Julia</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Notary</p><br>
            <p class="muted regular"><em>In business since 1998.</em></p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cols-xs-12">
        <div class="team text-center">
          <img src="/assets/profile_bg2.jpg" class="bg_image">
          <img src="/assets/kevin.jpg" alt="..." class="avatar">
          <div class="title">
            <h4>Kevin</h4>
            <h5 class="muted regular"></h5>
            <p class="muted regular">Notary</p><br>
            <p class="muted regular"><em>In business since 2007.</em></p>
          </div>
        </div>
      </div>
    

    </div>
  </div> <!-- container close -->
</section>