/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";



/*Hover Effects*/

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: #2098d1;*/
  background: #fff;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}



/*$primary-color: #ccc;*/




/*Welcome Page*/

  /*nav*/

  .overlay { 
  /*color:#fff;
    position:absolute;
    z-index:1;
    top:10%;
    left:0;
    width:100%;
    text-align:center;*/
    position: absolute;
    z-index:2;
  }
  .nav{
    top:30px;
    z-index:10;
    background:#fff;
    color: #fff;
    background: transparent;
    width:100%;
    padding-right: 1.5em;
  }
  .nav a{
    color: #fff;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
  }


  .search{
    top: 50px;
    width: 100%;
    color: #FFF;
  }

  /*carousel*/
  .shadow-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f2;
    background: -webkit-gradient(rgba(0,0,0,.15),rgba(0,0,0,.35),rgba(0,0,0,.15));
    background: -webkit-linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.35),rgba(0,0,0,.15));
    background: -moz-linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.35),rgba(0,0,0,.15));
    background: -ms-linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.35),rgba(0,0,0,.15));
    background: -o-linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.35),rgba(0,0,0,.15));
    background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.35),rgba(0,0,0,.15));
    background-color: transparent;
  }

  /*search cluster*/
  #tagline {
    color: #fff;
  }

  .col-lg-6 {
    width: 100%;
  }
  .input-group {
     width: 50%;
     margin: 0 auto;
  }
  .col-centered{
      margin: 0 auto;
      float: none;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .welcome-selection{
    width: 10%;
    margin: 0 auto;
  }


  .seletion-menu{
    width: 49%;
    margin: 0 auto;
  }

  .col-sm-3{
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 2px;

  }
/*Vendor Page*/


  #test-carousel {
    position:absolute;
    top:0;
    z-index: -1;
     
  }

  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 500px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    justify-content: center;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;


        
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }



/*test code*/
  .jumbotron.vertical-center {
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
    /*position: relative*/
  }

  .vertical-center {
    position: absolute;
    /*min-height: 100%; */
     /* Fallback for vh unit */
    min-height: 50vh; 


    /* You might also want to use
                          'height' property instead.
                          
                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.
    
                          In this case the parent of '.vertical-center'
                          is the <body> element */

    /* Make it a flex container */

    display: flex; 
    
    /* Align the bootstrap's container vertically */
    align-items : center;
    
    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;
    
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.
    
       Therefore, we should use the following declarations to get it centered again */
    justify-content : center;
  }

