/*
 *= require_self
 *= require listings
 *= require vendors
 *= require welcome
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*Font*/

 /* use Proxima Nova? need to import font */
body {
  // font-family: "SOURCE SANS PRO", serif;

}

/*Hover Effects*/

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: #2098d1;*/
  background: #fff;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}



/*$primary-color: #ccc;*/






/*Vendor Page*/


  #test-carousel {
    position:absolute;
    top:0;
    z-index: -1;
     
  }

  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 500px;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    justify-content: center;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;


        
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }



/*test code*/
 /*  .jumbotron.vertical-center {
   margin-bottom: 0; Remove the default bottom margin of .jumbotron
   position: relative
 }
 
 .vertical-center {
   position: absolute;
   min-height: 100%;
    Fallback for vh unit
   min-height: 50vh; 
 
 
   You might also want to use
                         'height' property instead.
                         
                         Note that for percentage values of
                         'height' or 'min-height' properties,
                         the 'height' of the parent element
                         should be specified explicitly.
   
                         In this case the parent of '.vertical-center'
                         is the <body> element
 
   Make it a flex container
 
   display: flex; 
   
   Align the bootstrap's container vertically
   align-items : center;
   
   In legacy web browsers such as Firefox 9
      we need to specify the width of the flex container
   width: 100%;
   
   Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
      hence the bootstrap's container won't be aligned to the center anymore.
   
      Therefore, we should use the following declarations to get it centered again
   justify-content : center;
 } */

