// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}


//form colors
//form colors
$white: #ffffff;
$black_10: rgba(0, 0, 0, 0.1);
$color_trout_approx: #4c565e;
$color_cornflower_blue_approx: #6caee0;
$color_chicago_approx: #5f5f5f;
$black_8: rgba(0, 0, 0, 0.08);
$alto: #dbdbdb;
//form fonts
$font_0: sans-serif;
//form scss
// .form-basic {
//   max-width: 640px;
//   margin: 0 auto;
//   padding: 55px;
//   box-sizing: border-box;
//   background-color: $white;
//   /*box-shadow: 0 1px 3px 0 $black_10;*/
//   font: bold 14px $font_0;
//   text-align: center;
//   .form-row {
//     text-align: left;
//     margin-bottom: 22px;
//     > label span {
//       display: inline-block;
//       box-sizing: border-box;
//       /*color: $color_chicago_approx;*/
//       /*width: 180px;*/
//       text-align: left;
//       vertical-align: top;
//       padding: 12px 25px;
//     }
//   }
//   .form-title-row {
//     text-align: left;
//     margin-left: 18px;
//     margin-bottom: 15px;
//   }
//   .form-row {
//     margin: 0;
//   }
//   h1 {
//     display: inline-block;
//     box-sizing: border-box;
//     color: $color_trout_approx;
//     font-size: 24px;
//     padding: 0 10px 15px;
//     /*border-bottom: 2px solid $color_cornflower_blue_approx;*/
//     margin: 0;
//     margin-left: 11px;
//   }
//   input {
//     color: $color_chicago_approx;
//     box-sizing: border-box;
//     width: 240px;
//     box-shadow: 1px 2px 4px 0 $black_8;
//     padding: 10px;
//     border: 1px solid $alto;
//     margin-left: 38px;
//   }
  
//   .form-input[type=radio] {
//     box-shadow: none;
//     width: auto;
//   }

//   .form-input[type=checkbox] {
//     box-shadow: none;
//     width: auto;
//     margin-top: 13px;
//   }

//   select {
//     background-color: $white;
//     color: $color_chicago_approx;
//     box-sizing: border-box;
//     width: 240px;
//     height: 40px !important;
//     box-shadow: 1px 2px 4px 0 $black_8;
//     padding: 12px 8px;
//     border: 1px solid $alto;
//     margin-top: 10px;
//     margin-left: 38px;
//   }

//   .form-span {
//     margin-left: -24px;
//   }

//   textarea {
//     color: $color_chicago_approx;
//     box-sizing: border-box;
//     width: 240px;
//     height: 80px;
//     // box-shadow: 1px 2px 4px 0 $black_8;
//     font: normal 13px $font_0;
//     padding: 12px;
//     border: 1px solid $alto;
//     resize: vertical;
//   }
//   .form-radio-buttons {
//     display: inline-block;
//     vertical-align: top;
//     > div {
//       margin-top: 10px;
//     }
//     .form-input {
//       width: auto;
//     }
  
//     label > span {
//       margin-left: 18px;
//       color: $color_chicago_approx;
//       font-weight: normal;
//       display: inline-block;
//       width: 140px;
//       text-align: left;
//     }
//   }

// }

#next {
  float: left;
  margin-right: 800px;
}

.details-bg {
  border-top: 1px solid #c4c4c4;
}


#feature-search{
  padding-top: 10em;
}



// main
.main-content {
  float: left;
  width: 100%;
  height: 100px;
}


/*Google maps*/
#map-title {
  text-align: left;
  margin-left: 38px;
}

#map {
  height: 550px;
  width: 100%;
}

.no-padding {
  padding-right: 0;
}

@media screen and (max-width: 1280px){
.side-menu {
  width: 200px;
}
#map {
  width: 400px;
  margin: 0 auto;
}
}

@media screen and (max-width: 900px){
  .side-menu {
    width: 180px;
  }
  #map {
  width: 300px;
 }
}

@media screen and (max-width: 700px){
  .side-menu {
    width: 100%;
    height: 250px;
  }
  #map {
    width: 380px;
  }
}

#next {
  margin-bottom: 10%;
  margin-top: 0;
  margin-left: 37%;
}



/////////////
/////////////
// PHOTO PAGE
/////////////
/////////////


      .container
      {
        width: 100%;
        max-width: 680px; /* 800 */
        text-align: center;
        margin: 0 auto;
      }

        .container h1
        {
          font-size: 42px;
          font-weight: 300;
          color: #0f3c4b;
          margin-bottom: 40px;
        }
        .container h1 a:hover,
        .container h1 a:focus
        {
          color: #39bfd3;
        }

        .container nav
        {
          margin-bottom: 40px;
        }
          .container nav a
          {
            border-bottom: 2px solid #c8dadf;
            display: inline-block;
            padding: 4px 8px;
            margin: 0 5px;
          }
          .container nav a.is-selected
          {
            font-weight: 700;
            color: #39bfd3;
            border-bottom-color: currentColor;
          }
          .container nav a:not( .is-selected ):hover,
          .container nav a:not( .is-selected ):focus
          {
            border-bottom-color: #0f3c4b;
          }

        /*.container footer
        {
          color: #92b0b3;
          margin-top: 40px;
        }
          .container footer p + p
          {
            margin-top: 1em;
          }
          .container footer a:hover,
          .container footer a:focus
          {
            color: #39bfd3;
          }*/

        .box
        {
          font-size: 1.25rem; /* 20 */
          background-color: #c8dadf;
          position: relative;
          padding: 100px 20px;
          margin-top: 10%;
          margin-left: 15%;
        }
        .box.has-advanced-upload
        {
          outline: 2px dashed #92b0b3;
          outline-offset: -10px;

          -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
          transition: outline-offset .15s ease-in-out, background-color .15s linear;
        }
        .box.is-dragover
        {
          outline-offset: -20px;
          outline-color: #c8dadf;
          background-color: #fff;
        }
          .box__dragndrop,
          .box__icon
          {
            display: none;
          }
          .box.has-advanced-upload .box__dragndrop
          {
            display: inline;
          }
          .box.has-advanced-upload .box__icon
          {
            width: 100%;
            height: 80px;
            fill: #92b0b3;
            display: block;
            margin-bottom: 40px;
          }

          .box.is-uploading .box__input,
          .box.is-success .box__input,
          .box.is-error .box__input
          {
            visibility: hidden;
          }

          .box__uploading,
          .box__success,
          .box__error
          {
            display: none;
          }
          .box.is-uploading .box__uploading,
          .box.is-success .box__success,
          .box.is-error .box__error
          {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;

            -webkit-transform: translateY( -50% );
            transform: translateY( -50% );
          }
          .box__uploading
          {
            font-style: italic;
          }
          .box__success
          {
            -webkit-animation: appear-from-inside .25s ease-in-out;
            animation: appear-from-inside .25s ease-in-out;
          }
            @-webkit-keyframes appear-from-inside
            {
              from  { -webkit-transform: translateY( -50% ) scale( 0 ); }
              75%   { -webkit-transform: translateY( -50% ) scale( 1.1 ); }
              to    { -webkit-transform: translateY( -50% ) scale( 1 ); }
            }
            @keyframes appear-from-inside
            {
              from  { transform: translateY( -50% ) scale( 0 ); }
              75%   { transform: translateY( -50% ) scale( 1.1 ); }
              to    { transform: translateY( -50% ) scale( 1 ); }
            }

          .box__restart
          {
            font-weight: 700;
          }
          .box__restart:focus,
          .box__restart:hover
          {
            color: #39bfd3;
          }

          .js .box__file
          {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }
          .js .box__file + label
          {
            max-width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
          }
          .js .box__file + label:hover strong,
          .box__file:focus + label strong,
          .box__file.has-focus + label strong
          {
            color: #39bfd3;
          }
          .js .box__file:focus + label,
          .js .box__file.has-focus + label
          {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
          }
            .js .box__file + label *
            {
              /* pointer-events: none; */ /* in case of FastClick lib use */
            }

          .no-js .box__file + label
          {
            display: none;
          }

          .no-js .box__button
          {
            display: block;
          }
          .box__button
          {
            font-weight: 700;
            color: #e5edf1;
            background-color: #39bfd3;
            display: none;
            padding: 8px 16px;
            margin: 40px auto 0;
          }
            .box__button:hover,
            .box__button:focus
            {
              background-color: #0f3c4b;
            }
            #below-nav {
              margin: 0 !important;
            }


      // form wizard css
      #amenities-page{
        display: none;
      }

      #details-page{
        display:none;
      }

#details-page{
  display:none;
}

#photos-page{
  display: none;
}


// FORMHEAD
.form-head-left {
  height: 80px;
  width: 200px;
  background-color: #fff;
  float: left;
  border-right: 1px solid #DCE0E0;
  text-align: center;
  position: relative;
}

#address-title {
  overflow-x: hidden;
  width: 80%;
}

.form-head {
  background-color: #fff;
  height: 60px;
  width: 100%;
  margin-top: 0;
  border-bottom: 1px solid #DCE0E0;
}

.form-header {
  text-align: left;
  padding: 12px;
}
// SIDEBAR
.side-bar {
  height: 100vh;
  width: 200px;
  background-color: #FFE8E8;
}


#head-top {
  margin-top: -20px;
}

.side-nav-a{
  text-align: center;
  color: #fff;
  padding-top: 40px;
  // position: relative;
  // display: inline-block;
  // margin-top: 5%;
  // vertical-align: middle;
}

#basicdiv{
  height: 100px;
  width: 100%;
  background-color: #84C7FF;
  cursor: pointer;
  position: relative;
  text-align: center;
  padding-top: 20px;
}


#detaildiv{
  height: 100px;
  width: 100%;
  background-color: #D1EAFF;
  cursor: pointer;
  position: relative;
  text-align: center;
  padding-top: 20px;

}

#amenitydiv{
  height: 100px;
  width: 100%;
  background-color: #A7BBCC;
  cursor: pointer;
  position: relative;
  text-align: center;
  padding-top: 20px;
}

#photodiv{
  height: 100px;
  width: 100%;
  background-color: #536B7F;
  cursor: pointer;
  position: relative;
  text-align: center;
  padding-top: 20px;
}


#basicdiv:hover{
  opacity: 0.5;
}


#detaildiv:hover{
  opacity: 0.5;
}

#amenitydiv:hover{
  opacity: 0.5;
}

#photodiv:hover{
  opacity: 0.5;
}



//----------
//----------
// form-main 
//----------
//----------

// basic-page
//----------



.basics-header {
  text-align: center;
  padding-bottom: 15px;
}

.address-label {
  font-size: 22px;
}

.unit-number-form{
  width: 20%;
  height: 40px;
  text-align: center;
}

.address-form {
  width: 60%;
  height: 40px;
  padding-left: 10px;
}

.bed-bath-half {
  margin-top: 20px;
}

.bed-bath-half-wrap select {
  -webkit-appearance: menulist-button;
  background-color: #fff;
  height: 40px;
  width: 100px;
}

.home-neighborhood-form{
  margin-top: 20px;
}

.form-button-container {
  margin-top: 10px;
  width: 60%;
  margin: 0 auto;
}

.home-neighbor-wrap select {
  -webkit-appearance: menulist-button;
  -webkit-border-radius: 0;
  -webkit-font-smoothing: antialiased;
      -webkit-writing-mode: horizontal-tb;
  letter-spacing: normal;
  background-color: #fff;
  height: 40px;
  width: 280px;
  padding-left: 1em;
  color: #565a5c;
  font-weight: bold;
}


#to-details {
  float: right;
  background-color: #ff5a5f;
  padding: 9px 27px;
  margin-top: 20px;
  border-radius: 2px;
  color: #fff;
  line-height: 1.43;
  font-weight: 600;
}

#to-details:hover {
  text-decoration: none;
  background-color: #ff1a1f;
}


@media screen and (min-width: 1880px){
  .unit-number-form{
  width: 20%;
  height: 50px;
  text-align: center;
}

.address-form {
  width: 60%;
  height: 50px;
  padding-left: 10px;
}
  .bed-bath-half-wrap select {
  -webkit-appearance: menulist-button;
  background-color: #fff;
  height: 50px;
  width: 160px;
}
.home-neighbor-wrap select {
  -webkit-appearance: menulist-button;
  background-color: #fff;
  height: 50px;
  width: 430px;
}
}

