// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  


  /*Anchor Fix Position*/
/*   .anchor:before { 
  display: block; 
  content: " "; 
  height: 50px;      Give height of your fixed element
  margin-top: -50px; Give negative margin of your fixed element    
  visibility: hidden; 
} */
  /* Scrolling

  a[ id= "welcome-carousel" ]:target ~ .carousel div.section1 {
      -webkit-transform: translateY( 0px);
      transform: translateY( 0px );
  }

  a[ id= "choose-us" ]:target ~ section.anchor {
      -webkit-transform: translateY( -500px );
      transform: translateY( -500px );
  }
  a[ id= "feature-listing" ]:target ~ section.feature-listing {
      -webkit-transform: translateY( -1000px );
      transform: translateY( -1000px );
  } */


  /*Nav Specific to Welcome*/

 /*   .nav{
      position: relative;
      top: 45px;

    }*/

  .navbar-nav{
    position: relative;
    top: 40px;
  }

  .logo-dark-away{
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    top: -90px;
  }

   .navbar-nav > li > a {
    color: #fff;
    padding-top:20px; 
    padding-bottom:10px;
  }

  /*carousel*/

  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }
      
      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-control {
      z-index: 2;
    }
  }



  .shadow-layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f2;
    background: -webkit-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    background-color: transparent;
  }

 /* .item img{
    height: 10px;
  }*/

  /*search cluster*/


  #tagline {
    text-align: center; 
    color: #fff;
    font-size: 60px;
    font-weight: 200;
    padding-bottom: .5em;
    position: relative;
    top: -750px;
    z-index: 9;
  }

  .search{
    /*top: 150px;*/
    position: relative;
    top: -750px;
    width: 100%;
  }

  .col-lg-6 {
    width: 100%;
  }
  .input-group {
     width: 60%;
     margin: 0 auto;
  }
  .col-centered{
    margin: 0 auto;
    float: none;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-control{
  /*  color: #FFF;*/
    font-weight: 200;
    font-size: 18px;
  }

  .welcome-selection{
    width: 10%;
    margin: 0 auto;
  }


  .seletion-menu{
    width: 59%;
    margin: 0 auto;
  }

  .col-sm-3{
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 2px;

  }

/*section global*/
  .heading{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }

  .sub-heading{
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 3em;
  }

/*choose us*/
  #choose-us{
    /*height: 100vh;*/
    height: 400px;
    text-align: center;
    position: relative;
    /*top: 300px;*/
    top: -100px;
    padding: 0em 8em 10em 8em;
  }

  #choose-us .fa{
    color: #5083B2;
    padding-bottom: .3em;
  }

  #choose-us p{
    font-size: 18px;
  }

/*Feature Listings*/
  #feature-listing{
    /*height: 100vh;*/
    min-height: 1200px;
    padding-top: 5%;
    background: #E3E5EB;
  }






