.form-basic {
  max-width: 640px;
  margin: 0 auto;
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font: bold 14px sans-serif;
  text-align: center; }
  .form-basic .form-row {
    text-align: left;
    margin-bottom: 22px; }
    .form-basic .form-row > label span {
      display: inline-block;
      box-sizing: border-box;
      color: #5f5f5f;
      width: 180px;
      text-align: right;
      vertical-align: top;
      padding: 12px 25px; }
  .form-basic .form-title-row {
    text-align: center;
    margin-bottom: 55px; }
  .form-basic h1 {
    display: inline-block;
    box-sizing: border-box;
    color: #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0; }
  .form-basic input {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb; }
  .form-basic input[type=radio] {
    box-shadow: none;
    width: auto; }
  .form-basic input[type=checkbox] {
    box-shadow: none;
    width: auto;
    margin-top: 13px; }
  .form-basic select {
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb; }
  .form-basic textarea {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical; }
  .form-basic .form-radio-buttons {
    display: inline-block;
    vertical-align: top; }
    .form-basic .form-radio-buttons > div {
      margin-top: 10px; }
    .form-basic .form-radio-buttons input {
      width: auto; }
    .form-basic .form-radio-buttons label span {
      margin-left: 8px;
      color: #5f5f5f;
      font-weight: normal; }
  .form-basic button {
    display: block;
    border-radius: 2px;
    background-color: #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0; }

#feature-search {
  padding-top: 10em; }

.feature-listing .carousel-inner {
  width: 100%;
  max-height: 160px; }

.featureList {
  margin: 40px 0;
  padding-bottom: 60px;
  background: white;
  box-shadow: 0 2px 3px #ccc;
  /*height: 350px;*/
  height: 200px; }

.property-price {
  position: relative;
  text-align: left;
  top: -1.5em;
  left: 1.5em;
  background: rgba(255, 255, 255, 0.85); }

.feature-short-info {
  position: relative;
  text-align: left;
  top: -2.2em; }

.bedbath {
  position: relative;
  left: 18em;
  top: -1.4em; }

/*SIDE MENU*/
.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  z-index: 2;
  height: 800px;
  position: relative; }

.side-menu.left {
  background: #ffffff;
  box-shadow: -4px 4px 40px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 70px; }

.sidebar-inner {
  height: 100%; }

#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none; }

#sidebar-menu {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%; }

#sidebar-menu a {
  line-height: 1.3; }

#sidebar-menu ul ul {
  display: none; }

#sidebar-menu ul ul li {
  border-top: 0; }

#sidebar-menu ul ul li.active a {
  color: #228bdf; }

#sidebar-menu ul ul a {
  color: #75767B;
  display: block;
  padding: 10px 25px 10px 65px; }

#sidebar-menu ul ul a:hover {
  color: #228bdf; }

#sidebar-menu ul ul ul a {
  padding-left: 80px; }

#sidebar-menu > ul > li > a {
  color: #565b5e;
  border-left: 2px solid transparent;
  display: block;
  padding: 12px 25px; }

#sidebar-menu > ul > li > a:hover {
  background: #f5f5f5;
  border-left: 2px solid #228bdf !important; }

#sidebar-menu > ul > li > a:hover span {
  color: #4c5667; }

#sidebar-menu > ul > li > a.active {
  background: #f5f5f5;
  border-left: 2px solid #228bdf !important; }

#sidebar-menu > ul > li > a.active i {
  color: #228bdf !important; }

#sidebar-menu > ul > li > a.active span {
  color: #4c5667; }

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  text-transform: uppercase;
  font-size: 12px;
  color: #565b5e;
  margin-top: 20px !important;
  font-weight: 600 !important;
  padding-left: 32px !important; }

.subdrop {
  background: #f5f5f5;
  border-left: 2px solid #228bdf !important; }

.subdrop span {
  color: #4c5667; }

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  display: block;
  overflow-y: auto;
  position: fixed;
  transition: all 200ms ease-out;
  width: 270px;
  height: 100%; }

footer {
  width: 100%; }
