<section class="bookmark-bar pull-right">

<h4>Bookmarked Listings</h4>

<div class="user_bookmarks"></div>


</section>

<script id="bookmark_item_template" type="text/template">

  <div class="bookmark_item" data-listing-id="{{ listing.id }}">
    <a href="/listings/{{listing.id}}/del_bookmark" data-remote="true" data-method="delete" class="remove_bookmark">&times;</a>
    <a href="/listings/{{listing.id}}">
      <%= image_tag "listing_images/property1_1.jpg" %>
      <span class="price">$ {{ listing.price }}</span>
      {{ listing.size }} sqr/ft
      <br>
      {{ listing.address }}
    </a>
  </div>

</script>

<script>
  var current_user_bookmarks = [];

  <% if current_user %>
  <% 
  current_user.bookmarks
  .map { |bm| bm.as_json(include: :listing).to_json }
  .each do |bookmark| %>
    current_user_bookmarks.push(<%= raw bookmark %>);
  <% end %>

  <% end %>
</script>