<section class="bookmark-bar pull-right">

<h4>Bookmarked Listing</h4>

<ul class="user_bookmarks"></ul>


</section>

<script id="bookmark_item_template" type="text/template">
  <li>
    Size: {{ listing.size }}
    Address: {{ listing.address }}
  </li>
</script>

<script>
  var current_user_bookmarks = [];

  <% if current_user %>
  <% 
  current_user.bookmarks
  .map { |bm| bm.as_json(include: :listing).to_json }
  .each do |bookmark| %>
    current_user_bookmarks.push(<%= raw bookmark %>);
  <% end %>

  <% end %>
</script>