<section class="bookmark-bar pull-right">

<h4>Bookmarked Listing</h4>

<ul>

<% current_user.bookmarked_listings.each do |listing|  %>
<li>
  Size: <%= listing.size %>
  Address: <%= listing.address %>
  </li>
<% end %>


</ul>
</section>

