<footer>
  <div class="footer-wrap">

  <div class="footer">
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 footer-grid-pad"> <!-- footer grid start -->
    <div class="col-md-6 col-sm-6 col-xs-12"> <!-- footer nav ul grid -->
      <ul class="footer-nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="#choose-us">Why us?</a></li>
        <li><a href="#feature-listing">Featured Listings</a></li>
        <li><%= link_to "Vendors", vendors_path %></li>
      </ul>
      </div> <!-- end footer nav ul grid -->

    <div class="col-md-6 col-sm-6 col-xs-12">
      <ul class="footer-extra-nav-ul">
        <li><a href="">Mobile</a>&nbsp;&nbsp;</li>
        <li><a href="">Contact Us</a>&nbsp;&nbsp;</li>
        <li><a href="">FAQ</a>&nbsp;&nbsp;</li>
        <li><a href="">Legal</a>&nbsp;&nbsp;</li>
        <li><a href="">Privacy Policy</a>&nbsp;&nbsp;</li>
      </ul>
    </div> 

    <div class="col-md-6 col-sm-6 col-xs-12 foot-pad"> <!-- view listings grid -->
      <a href="/listings" class="listings-footer-btn">View Listings</a>
      <br>
      <br>
      <br>
      <hr class="footer-hr">
      <br>
      <div class="footer-p-wrap">
        <p class="footer-p">©2016 Lighthouse Labs. Team JJCK - Justine Herman, Julia Wei, Christopher Milbourne, and Kevin Hung. All rights reserved.</p>
      </div>


    </div>
    </div> <!-- end footer grid -->


  </div><!--  end row -->
  </div>
  </div> <!-- end footer-wrap -->

</footer>


