<footer>
  <div class="footer-wrap">

  <div class="footer" id="footer-id">
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 footer-grid-pad"> <!-- footer grid start -->
      <ul class="footer-nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/#choose-us">Why us?</a></li>
        <li><a href="/#feature-listing">Featured Listings</a></li>
        <li><%= link_to "Vendors", vendors_path %></li>
      </ul>

    
      <a href="/listings" class="listings-footer-btn">View Listings</a>
      <br>
      <br>
      <br>
      <hr class="footer-hr">
      <br>
      <div class="footer-p-wrap">
        <p class="footer-p">©2016 Lighthouse Labs. Team JJCK - Justine Herman, Julia Wei, Christopher Milbourne, and Kevin Hung. All rights reserved.</p>
        <p class="footer-p2"><em>The information and services offered on this website are provided with the understanding that all information is fabricated for demonstration purposes.</em></p>
      </div>


    </div> <!-- end footer grid -->


  </div><!--  end row -->
  </div>
  </div> <!-- end footer-wrap -->

</footer>


