<footer>
  <div class="footer-wrap">
  <div class="footer">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 footer-grid-pad"> 
      <ul class="footer-nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="#choose-us">Why us?</a></li>
        <li><a href="#feature-listing">Featured Listings</a></li>
        <li><%= link_to "Vendors", vendors_path %></li>
      </ul>

      <a href="/listings" class="listings-footer-btn">View Listings</a>
      <br>
      <br>
      <br>
      <hr class="footer-hr">
      <br>
      <div class="footer-p-wrap">
        <p class="footer-p">© 2016 Unlisted. All rights reserved.<br>
        Unlisted is a school project created by Justine Herman, Julia Wei, Chris Milbourne and Kevin Hung.<br>The data contained within this site is fake and not intended for actual home buying. 
        </p>
      </div>
    </div> 
  </div>
  </div>
  </div> 
</footer>


