<footer>
  <br>
  <br>
  <hr>
<div class="container">
  <small>
<p>
  <a href="">Mobile</a>&nbsp;&nbsp;
  <a href="">Contact Us</a>&nbsp;&nbsp;
  <a href="">FAQ</a>&nbsp;&nbsp;
  <a href="">Legal</a>&nbsp;&nbsp;
  <a href="">Privacy Policy</a>&nbsp;&nbsp;
 
</p>
<p class="pull-right"><a href="#">Back to top</a></p>
<p>©2016 Lighthouse Labs. Team JJCK - Justine Hermem, Julia Wei, Christoher Milbourne, Kevin Hung. All rights reserved.</p>

 </small>
</div>


</footer>