    <ul id="side-ul">
          <li class="subdrop" >
            <a id="basic" href=
            "#"><i class="md md-dashboard"></i>
            <span><i class="fa fa-home" aria-hidden="true"></i> Basic</span></a>
          </li>
          <br>

          <li>
            <a id= "details" href="#"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Details</span></a>
          </li>
          <br>


          <li>
            <a href="#"><span><i class="fa fa-life-ring" aria-hidden="true"></i> Amenities</span></a>
          </li>
          <br>


          <li>
            <a href="#"><span><i class="fa fa-camera-retro" aria-hidden="true"></i> Photos</span></a>
          </li>
          <br>
        </ul>